<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-light text bold" href="#">Electric Billing Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/EBMSFrontEnd/customer">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/EBMSFrontEnd/calculate-bill">Calculate Bill</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/EBMSFrontEnd/view-bills">View Bills</a>
                </li>
            </ul>
        </div>
    </div>
</nav>