<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title bg-primary text-light font-bold py-2">Electric Billing Management System Summary</h5>
        <p class="card-text">
            Electric Billing Management System(EBMS) is website where you can view the electricity usage and bills
            collected. </p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary"><a class="text-decoration-none text-light"
                    href="/customer">Customers</a></button>&nbsp;
            <button type="button" class="btn btn-primary"><a class="text-decoration-none text-light"
                    href="/customer">Calculate Bill</a></button>&nbsp;
            <button type="button" class="btn btn-primary"><a class="text-decoration-none text-light"
                    href="/customer">View Bills</a></button>
        </div>
    </div>
</div>